ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #F49F05; */
}

li {
  float: left;
  border-right: 1px solid #bbb;
  font-family: "Bangers", cursive;
  font-size: 20px;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #f18904;
}

.active {
  background-color: #36688d;
}

#css2 {
  font-size: 20px;
}

#logo {
  height: 40px;
  width: 40px;
}

.navbar-brand {
  font-family: "Bangers", cursive;
}

h1 {
  border: 2px solid #f18904;
  padding: 10px;
  color: white;
  background-color: #f49f05;
  font-family: "Bangers", cursive;
  text-align: center;
}

p {
  color: #233c67;
  margin: 20px;
  font-size: 20px;
  font-family: "Bangers", cursive;
}
div > p {
  font-size: 35px;
}
.grey-background {
  background-color: grey;
}

#text-center {
  text-align: center;
}

.grid {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}

.item {
  border: 2px solid #f18904;
  text-align: center;
  margin: 20px;
}
.item-text {
  border: 2px solid #f18904;
  text-align: center;
  padding: 10px;
  font-family: "Bangers", cursive;
}
.about-text {
  font-size: 20px;
}

img {
  height: 400px;
  width: 100%;
  border-bottom: 2px solid #f18904;
}

.col {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

footer {
  border: 2px solid #f18904;
  padding: 10px;
  color: white;
  background-color: #f49f05;
  font-family: "Bangers", cursive;
  text-align: center;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  img {
    width: 100%;
    border-bottom: 2px solid #f18904;
  }
  h1 {
    font-size: 35px;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  /* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    float: left;
    border-right: 1px solid #bbb;
    font-family: "Bangers", cursive;
    font-size: 20px;
  }

  li:last-child {
    border-right: none;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover:not(.active) {
    background-color: #f18904;
  }

  .active {
    background-color: #36688d;
  }

  #css2 {
    font-size: 20px;
  }

  #logo {
    height: 40px;
    width: 40px;
  }

  .navbar-brand {
    font-family: "Bangers", cursive;
  }

  h1 {
    border: 2px solid #f18904;
    padding: 10px;
    color: white;
    background-color: #f49f05;
    font-family: "Bangers", cursive;
    text-align: center;
  }

  p {
    color: #233c67;
    margin: 20px;
    font-size: 20px;
    font-family: "Bangers", cursive;
  }

  .grey-background {
    background-color: grey;
  }

  #text-center {
    text-align: center;
  }

  .grid {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
  }

  .item {
    border: 2px solid #f18904;
    text-align: center;
    margin: 20px;
  }
  .item-text {
    border: 2px solid #f18904;
    text-align: center;
    padding: 10px;
    font-family: "Bangers", cursive;
  }

  img {
    height: 400px;
    width: 400px;
  } */
}
